

  body {
    font-family: "Work Sans", Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: #abf1ea;
  }
  
  
  h1 {
    font: cursive;
    text-align: inherit;
    color: rgb(83, 10, 10);
  }
 
  main {
    margin: 0 0 7rem;
  }
   h1 {
    margin: 1rem;
    color: blue;
  }
  

