

  body {
    font-family: "Work Sans", Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: #9cd434;
  }
  
  
  h1 {
    font: cursive;
    text-align: inherit;
    color: rgb(184, 106, 106);
  }
 
  main {
    margin: 0 0 7rem;
  }
   h1 {
    margin: 1rem;
    color: rgb(22, 22, 12);
  }
  

